# Ignorar carpetas de compilación
/build/
/dist/

# Ignorar archivos de configuración privada de NetBeans
/nbproject/private/
/nbbuild/
/nbdist/

# Ignorar otros archivos generados
*.class
*.log
*.bak
*.tmp
*.swp
*.DS_Store
*.iml

# Ignorar todo menos el código fuente
!/src/

# Ignorar todo nbproject excepto project.xml (opcional)
nbproject/*
!nbproject/project.xml
